{% extends 'base.html.twig' %}

{% block body %}

        <div id="masthead">  
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="lisert"></div>
                <div class="top-spacer">
                    <h1>{{ evaluation.FarmName }}
                      <p class="lead">{{ evaluation.farmCategoryName }}</p>
                    </h1>
                </div>
              </div>
            </div> 
          </div><!-- /cont -->
        </div>

        <div class="container">
          <div class="row">
            
            <div class="col-md-12"> 
              
              <div class="panel">
                <div class="panel-body">
                  
                    <div class="row">

                        <!-- LEFT -->
                        <div class="col-md-4" style="padding:24px;">
                            <h2>Échelle de Riches Terres</h2>
                            <div style="position: relative;" id="rating">
                                <svg height="300" width="300" style="position: absolute; top: 10px; left: 0px;">
                                    <polygon points="150,150 150,{{ 150 - 9*12 }} 240,200" style="fill: #0b8743;" />
                                    <polygon points="150,150 240,200 60,200" style="fill: #2db34b;" />
                                    <polygon points="150,150 150,{{ 150 - 9*12 }} 60,200" style="fill: #71c15e;" />
                                </svg>
                                <img src="img/richesterres-blank.png" alt="Riches Terres" class="responsive" style="margin-bottom:36px; cursor:pointer; width: 297px; height: 297px;">
                            </div>
                            <p style="text-align: center;">
                                Certifié par
                                <img src="img/ecocert.png" alt="Ecocert" style="height: 40px;"/>
                            </p>

                            <hr />
                            <h2>Partager</h2>
                            <input type="text" placeholder="http://rt.ly/1337" id="share"><br>
                            <div class="btn-group" style="margin:auto; width:150px; display:block;">
                                    <a class="btn btn-twitter btn-lg" href="#"><i class="fa fa-twitter icon-large"></i></a>
                                   <a class="btn btn-facebook btn-lg" href="#"><i class="fa fa-facebook icon-large"></i></a>
                                   <a class="btn btn-google-plus btn-lg" href="#"><i class="fa fa-google-plus icon-large"></i></a>
                              </div>
                        </div>
                        <!-- / LEFT -->

                        <!-- RIGHT -->
                        <div class="col-md-8" id="right">
                            
                            <div class="row td-1">
                                <div class="col-md-4" style="margin-top:24px;">
                                    <img src="img/christian.jpg" alt="Dat Farmer" class="rounded">
                                </div>
                                <div class="col-md-8">
                                    <h3>Christian Aguerre</h3>
                                    <p class="quote">
Située au pied de l’Ursumu et du pic du Mondarrain, HARANEA est une petite ferme au relief pentu sur laquelle nous valorisons plusieurs productions : les poulets et les œufs, le porc basque et le piment d’Espelette. 
                                    </p>
                                </div>
                            </div>
                            <div class="row td-2" style="padding-top:24px;">
                                <h2 style="margin-bottom:24px; margin-left:12px; text-align:left;">L'exploitation</h2>
                                <div class="col-md-6">
                                    <a href="{{ evaluation.farmPhotoUrl }}" class="popup"><img src="{{ evaluation.farmPhotoUrl }}" alt="Photo de l'exploitation" class="responsive fancy-image"></a>
                                </div>
                                <div class="col-md-6">
                                    <div id="map">
                                        <img src="https://maps.googleapis.com/maps/api/staticmap?{{
                                            [
                                                'size=340x260',
                                                'zoom=8',
                                                'center=' ~ evaluation.farmPositionLatitude ~ ',' ~ evaluation.farmPositionLongitude,
                                                'key=' ~ google_api_key,
                                                'markers=|' ~ evaluation.farmPositionLatitude ~ ',' ~ evaluation.farmPositionLongitude
                                            ]|join('&')
                                        }}" />
                                    </div>
                                </div>
                            </div>

                            <div class="row hidden showMe" style="margin-right:8px;">
                                <a href="#" class="btn btn-info"><i class="fa fa-arrow-left"></i></a>
                                <h2>Environnement / Climat</h2>
                                <table class="table">
                                    <tr>
                                        <td width="25%">
                                            <h4>Biodiversité agricole</h4>
                                        </td>
                                        <td>
                                            <img src="{{ asset('img/check.gif') }}" alt="" style="height: 40px;" />
                                        </td>
                                        <td class="description">
                                            <p>Christian Aguerre est un des sauveurs de la race porcine Kintoa. Il a planté un conservatoire de cinquante variétés anciennes de pommes. Il nourrit ses porcs avec un maïs "population" (grand roux basque).</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="25%">
                                            <h4>Agriculture biologique</h4>
                                        </td>
                                        <td>
                                            <img src="{{ asset('img/check.gif') }}" alt="" style="height: 40px;" />
                                        </td>
                                        <td class="description">
                                            <p>En bio depuis 2010.</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="25%">
                                            <h4>Agro-foresterie</h4>
                                        </td>
                                        <td>
                                            <img src="{{ asset('img/check.gif') }}" alt="" style="height: 40px;" />
                                        </td>
                                        <td class="description">
                                            <p><a href="http://www.agroforesterie.fr/" target="_blank">Lien vers l'Association Française d'Agro-Foresterie</a></p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="25%">
                                            <h4>Permaculture</h4>
                                        </td>
                                        <td>
                                            <img src="{{ asset('img/check.gif') }}" alt="" style="height: 40px;" />
                                        </td>
                                        <td class="description">
                                            <p>Sols sous couvert végétal vivant permanent.</p>
                                            <p><a href="http://www.fermedubec.com/" target="_blank">Lien vers le site de la Ferme du Bec Hellouin</a></p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="25%">
                                            <h4>Niveau de pétro-dépendance</h4>
                                        </td>
                                        <td>
                                            Peu élevé
                                        </td>
                                        <td class="description">
                                            <p>Un tracteur, deux véhicules utilitaires, aucun intrant issu de la chimie du pétrole.</p>
                                        </td>
                                    </tr>
                                    <tr style="background:#eee;">
                                        <td>
                                            <h4 style="color:#000"><b>Valeur globale</b></h4>
                                        </td>
                                        <td>
                                            <span>8/9</span>
                                        </td>
                                        <td>
                                        </td>
                                    </tr>
                                </table>
                            </div>

                        </div>
                        <!-- / RIGHT -->
                    </div>

                </div>
              </div>
                                                                                               
                                                            
                                                              
            </div><!--/col-12-->
          </div>
        </div>
        <hr />

        <footer>
          <div class="container">
            <div class="row">
              <div class="col-sm-6">
                <h3>Réseaux sociaux</h3>
                  <div class="btn-group">
                   <a class="btn btn-twitter btn-lg" href="#"><i class="icon-twitter icon-large"></i> Twitter</a>
                   <a class="btn btn-facebook btn-lg" href="#"><i class="icon-facebook icon-large"></i> Facebook</a>
                   <a class="btn btn-google-plus btn-lg" href="#"><i class="icon-google-plus icon-large"></i> Google+</a>
                </div>
              </div>
              <div class="col-sm-6">
                <h3 style="text-align:center;">Mentions légales</h3>
                <p class="copyright" style="text-align:center;">
                    © 2015 Tous droits réservés Riches Terres<br>
                    Réalisé avec <span>♥</span> par <a href="http://baptiste-wallerich.fr">Baptiste Wallerich</a>
                </p>
            </div>
          </div>
        </footer>
        
        <!-- POPUP -->
        <div id="test-popup" class="white-popup mfp-hide">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus consequuntur obcaecati perferendis? Eius omnis, doloribus voluptate laudantium excepturi, facilis magni tempora tempore quos ipsa asperiores minus assumenda repellendus consectetur voluptates!</p>
        </div>
{% endblock %}
