{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container" style="margin-top: 2em;">
            <div class="row">
                <div class="col-md-9">
                    <div id="map" style="height: 500px;"></div>
                </div>
                <div class="col-md-3">
                    {{ form(filter_form) }}
                </div>
            </div>
            {#
            <ul>
                {% for evaluation in evaluations %}
                <li><a href="/{{ evaluation.id }}">{{ evaluation.farmName }}</a></li>
                {% endfor %}
            </ul>
            #}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
<script src="{{ asset('js/jquery-1.11.3.min.js') }}"></script>
<script type="text/javascript">
var map;

{# todo: ajax call #}
var markers = [];
{% for evaluation in evaluations %}
markers.push(
    {
        name: "{{ evaluation.farmName }}",
        url: "/{{ evaluation.id }}",
        lat: {{ evaluation.farmPositionLatitude }},
        lng: {{ evaluation.farmPositionLongitude }}
    }
);
{% endfor %}
</script>
<script src={{ asset("js/map.js") }}></script>
<script src="https://maps.googleapis.com/maps/api/js?key={{ google_api_key }}&callback=initMap" async defer></script>
{% endblock %}
