{% extends 'base.html.twig' %}

{% block header %}
<div class="header">Riches Terres</div>
{% endblock %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="map" style="height: 400px;"></div>
            <ul>
                {% for evaluation in evaluations %}
                <li><a href="/{{ evaluation.id }}">{{ evaluation.farmName }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script type="text/javascript">
var map;

{# todo: ajax call #}
var markers = [];
{% for evaluation in evaluations %}
markers.push(
    {
        name: "{{ evaluation.farmName }}",
        url: "/{{ evaluation.id }}",
        lat: {{ evaluation.farmPositionLatitude }},
        lng: {{ evaluation.farmPositionLongitude }}
    }
);
{% endfor %}
console.debug(markers);

function initMap() {
    var map = new google.maps.Map(document.getElementById('map'), {
        center: {lat: 46.5, lng: 2.29},
        scrollwheel: false,
        zoom: 5
    });

    var infowindow = new google.maps.InfoWindow({
        'content': '...'
    });

    for (var i = 0; i < markers.length; i++) {
        marker = markers[i];
        console.debug(marker);
        var m = new google.maps.Marker({
            position: {
                lat: marker.lat,
                lng: marker.lng
            },
            map: map,
            title: marker.name,
            html: '<div><a href="' + marker.url + '">' + marker.name + '</a></div>'
        });
        google.maps.event.addListener(m, 'click', function () {
            infowindow.setContent(this.html);
            infowindow.open(map, this);
        });
    }
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key={{ google_api_key }}&callback=initMap" async defer></script>
{% endblock %}
