{% extends 'base.html.twig' %}

{% block header %}
<div class="header">Riches Terres</div>
{% endblock %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="map" style="height: 400px;"></div>
            {{ form(filter_form) }}
            <ul>
                {% for evaluation in evaluations %}
                <li><a href="/{{ evaluation.id }}">{{ evaluation.farmName }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script type="text/javascript">
var map;

{# todo: ajax call #}
var markers = [];
{% for evaluation in evaluations %}
markers.push(
    {
        name: "{{ evaluation.farmName }}",
        url: "/{{ evaluation.id }}",
        lat: {{ evaluation.farmPositionLatitude }},
        lng: {{ evaluation.farmPositionLongitude }}
    }
);
{% endfor %}
</script>
<script src={{ asset("js/map.js") }}></script>
<script src="https://maps.googleapis.com/maps/api/js?key={{ google_api_key }}&callback=initMap" async defer></script>
{% endblock %}
