{% extends '::base_admin.html.twig' %}

{% block body -%}
    <h1>Évaluation</h1>

    <div class="row">
        <div class="col-md-8">
            <table class="record_properties table">
                <tbody>
                    <tr>
                        <th>Nom de l'exploitation</th>
                        <td>{{ entity.farmName }}</td>
                    </tr>
                    <tr>
                        <th>Catégorie</th>
                        <td>{{ entity.farmCategoryName }}</td>
                    </tr>
                    <tr>
                        <th>Note Environnement</th>
                        <td>{{ entity.ratingEnvironment }}</td>
                    </tr>
                    <tr>
                        <th>Note Santé</th>
                        <td>{{ entity.ratingHealth }}</td>
                    </tr>
                    <tr>
                        <th>Note Social</th>
                        <td>{{ entity.ratingSocial }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-4">
            <img src="https://maps.googleapis.com/maps/api/staticmap?{{
                [
                    'size=300x200',
                    'zoom=8',
                    'center=' ~ entity.farmPositionLatitude ~ ',' ~ entity.farmPositionLongitude,
                    'key=' ~ google_api_key,
                    'markers=|' ~ entity.farmPositionLatitude ~ ',' ~ entity.farmPositionLongitude
                ]|join('&')
            }}" />
        </div>
    </div>
    <div>
        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_evaluation') }}">
            Retour à la liste
        </a>
    </li>
    <li>
        <a href="{{ path('admin_evaluation_edit', { 'id': entity.id }) }}">
            Modifier
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
